@model ProductListViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Product List</h2>
<table class="table table-responsive">
    
    @foreach(var product in Model.Products)
    { <tr>
          <td>@product.ProductId</td>
          <td>@product.ProductName</td>
          <td>@product.QuantityPerUnit</td>
          <td>@product.UnitPrice</td>
          <td>@product.UnitsInStock</td>
      </tr>
    }


</table>
